{#
This file is part of the CampaignChain package.

(c) Sandro Groganz <sandro@campaignchain.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% extends 'CampaignChainCoreBundle:Operation:read.html.twig' %}

{% block operation %}
    {% stylesheets '@campaignchain_operation_gotowebinar_css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {% include 'CampaignChainCoreBundle:Operation:field_header.html.twig' %}

        {#{% if is_public == false %}#}
            <div class="status">{{ status.getMessage()|campaignchain_make_links|raw }}</div>
        {#{% else %}#}
            {#<div class="fb-post"#}
                 {#data-href="{{ status.getUrl() }}"#}
                 {#data-width="500"></div>#}
        {#{% endif %}#}

    {% include 'CampaignChainCoreBundle:Operation:field_footer.html.twig' %}

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{{ status.getUrl() }}" target="_blank" class="btn btn-default"><i class="fa fa-external-link"></i> View on Facebook</a>
        </div>
    </div>
{% endblock %}